@page
@model WFDS.Server.Pages.Session.Banned

@{
    ViewBag.Title = "Session - Banned";
    Layout = "_SessionLayout";
}

<form method="post" class="column">
    Count: @Model.GetBannedPlayerCount()

    <table class="ui table celled">
        <thead>
        <tr>
            <th>#</th>
            <th>SteamId</th>
            <th>DisplayName</th>
            <th>Banned At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var player in Model.GetBannedPlayers())
        {
            <tr>
                <td>@player.Id</td>
                <td>@player.SteamId</td>
                <td>@player.DisplayName</td>
                <td>@player.BannedAt</td>
            </tr>
        }
        </tbody>
    </table>
</form>