@page "/sessions"
@model WFDS.Server.Pages.Session.Index

@{
    ViewBag.Title = "Session - Players";
    Layout = "_SessionLayout";
}

<div class="ui relaxed grid one column row">
    <div class="column">
        <h2>Current</h2>
        Count: @Model.SessionCount / @Model.MaxSessionCount

        <table class="ui celled table">
            <thead>
            <tr>
                <th>SteamId</th>
                <th>Username</th>
                <th>ConnectTime</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var session in Model.GetSessions())
            {
                <tr>
                    <td>@session.SteamId</td>
                    <td>@session.Name</td>
                    <td>@session.ConnectTime.ToString("O")</td>
                    <td>
                        <form method="post" style="display: inline;">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="steamId" value="@session.SteamId"/>
                            <button class="ui button orange tiny" type="submit" asp-page-handler="kick">kick
                            </button>
                            <button class="ui button red tiny" type="submit" asp-page-handler="ban">boot</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    
    <div>
        <h2>All</h2>
        Total: @Model.GetTotalPlayerCount() 
        
        <table class="ui celled table">
            <thead>
            <tr>
                <th>SteamId</th>
                <th>Username</th>
                <th>LastJoinedAt</th>
                <th>FirstConnectedAt</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var player in Model.GetPlayers())
            {
                <tr>
                    <td>@player.SteamId</td>
                    <td>@player.DisplayName</td>
                    <td>@player.LastJoinedAt.ToString("O")</td>
                    <td>@player.CreatedAt.ToString("O")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>