@page
@model WFDS.Server.Pages.Actor.All

@{
    Layout = "_ActorLayout";
    ViewBag.TItle = "Actor - All";
}

<div class="column">
    Count: @Model.GetAllActorCount()

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>CreatorId</th>
            <th>DecayTimer</th>
            <th>CreatedAt</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var actor in Model.GetAllActors())
        {
            <tr>
                <td>@actor.ActorId</td>
                <td>@actor.Type.Name</td>
                <td>@actor.CreatorId</td>
                <td>@actor.DecayTimer</td>
                <td x-data="{ date: new Date('@actor.CreateTime').toLocaleString() }" x-text="date"></td>
            </tr>
        }
        </tbody>
    </table>
</div>