@page
@model WFDS.Server.Pages.Actor.Index

@{
    Layout = "_ActorLayout";
    ViewBag.TItle = "Actor - Owned";
}

<form method="post" class="ui relaxed grid one column row">
    @Html.AntiForgeryToken()

    <div class="column">
        Count: @Model.GetOwnedActorCount()

        <table class="ui celled table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>DecayTimer</th>
                <th>CreatedAt</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var actor in Model.GetOwnedActors())
            {
                <tr>
                    <td>@actor.ActorId</td>
                    <td>@actor.Type.Name</td>
                    <td>@actor.DecayTimer</td>
                    <td>@actor.CreateTime</td>
                    <td>
                        <button type="submit" class="ui tiny button red" asp-page-handler="delete"
                                asp-route-id="@actor.ActorId">delete
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</form>